.signin{
    border: 2px solid #313082;
    border-radius: 20px;
   
}

.btn{
    border-radius: 10px !important;
    background-color: #313082 !important;
    color: #fff !important;
}

.auth_title{
    color: #313082;
}

.activeClass{
   color: #313082;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 700;
}

.notActiveClass{
    text-decoration: none;
    color: #000;
    margin-left: 1.5rem;
}